* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  min-height: 100%;
}

body {
  margin: 0;
  background-color: rgb(55, 0, 0);
  color: #171212;
  text-align: center;
  background: linear-gradient(
    to bottom,
    rgb(255, 158, 158),
    rgb(137, 231, 236),
    rgb(136, 125, 97)
  );
  font-family: 'Esteban', serif;
  font-weight: normal;
}

h1 {
  font-size: 3rem;
  color: #423030;
}

header p {
  font-size: 1.5rem;
}

.projectDescription {
  width: 95%;
  max-width: 50rem;
  margin: auto;
}

a,
.projectDescription h2 {
  color: rgb(81, 42, 64);
}
