* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: rgb(55, 0, 0);
  color: white;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

header p {
  font-size: 1.5rem;
}

.projectDescription {
  width: 95%;
  max-width: 50rem;
  margin: auto;
}

a,
.projectDescription h2 {
  color: rgb(255, 165, 165);
}
